body{
    font: 11pt Arial, Helvetica, sans-serif;
    background: #FFF;
}

button{
    margin: 10px;
}


@media (min-width: 0px) {

    .block{
        width: 350px;
        height: 350px;
    }
    .bl {

        float: left;
        display: block;
        width: 87px;
        height:87px;
        border: 1px solid;
    }
    img{
        width: 86px;
    }
    h1{
        font-size: 20px;
    }

}

@media (min-width: 780px) {

    .bl {

        float: left;
        display: block;
        width: 87px;
        height: 87px;
        border: 1px solid;
    }
    img{
        width: 86px;
    }
    h1{
        font-size: 36px;
    }

}

@media (min-width: 1280px) {
    .block{
        width: 490px;
        height: 490px;
    }
    .bl {

        float: left;
        display: block;
        width: 122px;
        height: 122px;
        border: 1px solid;
    }
    img{
        width: 120px;
    }
    h1{
        font-size: 36px;
    }
}
