body{
    font: 11pt Arial, Helvetica, sans-serif;
    background: #FFF;
}

button{
    margin: 10px;
    margin-bottom: 10px;

}


@media (min-width: 0px) {

    .blocks{
        width: 350px;
        height: 350px;
        margin-bottom: 100px;
    }
    .bl {

        float: left;
        display: block;
        border: 1px solid;
        background-size: 410%;

    }


    h1{
        font-size: 20px;
    }

}

@media (min-width: 780px) {
    .blocks{
        margin-bottom: 100px;
    }

    .bl {

        float: left;
        display: block;
        border: 1px solid;
    }

    h1{
        font-size: 36px;
    }

}

@media (min-width: 1280px) {
    .blocks{
        width: 490px;
        height: 490px;
        margin-bottom: 100px;
    }
    .bl {

        float: left;
        display: block;
        border: 1px solid;

    }

    h1{
        font-size: 36px;
    }
}
